//TODO 提取全部公共样式
mask_image(url)
  position absolute
  z-index 1
  background url(url)
  background-position 100% 100%
  background-size 100%
  background-repeat no-repeat
  transition 0.3s
  mask-position 120% 0
  inset 0
  mask-image linear-gradient(to right, #000, #000, 50%, transparent 60%)
  mask-size 200% 100%
  mask-repeat no-repeat